@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
.certificate-image {
    width: 80%;
  }
  .logo5{
    position: absolute;
    top: 10%; /* Adjust the top position as needed */
    right: 19%;/* Adjust the left position as needed */
    width: 200px; /* Adjust the width as needed */
    height: auto;
  }
  .sies5 {
    position: absolute;
    top: 10%; /* Adjust the top position as needed */
    left: 18%; /* Adjust the left position as needed */
    width: 200px; /* Adjust the width as needed */
    height: auto;
  }
  
  .text-overlay {
    position: absolute;
    text-align: center;
    color: black;
  
  }
  
  .certificate-title5 {
    top: 20%;
    font-size: 33px;
    font-weight: bold;
    font-family:nirand;
  }
  
  .certificate-subtitle5 {
    top: 26%;
    font-size: 22px;
    font-family:alegreya-serif;
  }
  
  .certificate-recipient5 {
    top: 34%;
    font-size: 18px;
    font-family:alegreya-sans;
  }
  
  .certificate-recipient_name5 {
    top: 42%;
    font-size: 70px;
    font-weight: bold;
    font-family: "Alex Brush", cursive;
  }
  
  .certificate-message5 {
    top: 57%;
    font-size: 18px;
    width: 50%;
    font-family:alegreya-sans;
  }
  
  .signature5 {
    top: 74%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family:alegreya-sans;
  }
  
  .signature_name5 {
    top: 79%;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-family:alegreya-sans;
  }
  